.overlayBottom {
  height: var(--bg-size-b);
  max-height: calc(100% - var(--bg-size-t));
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
      rgb(255 255 255 / 1),
      rgb(255 255 255 / 0)
    );
  }
  &.dark::after {
    background-image: linear-gradient(rgb(0 0 0 / 1), rgb(0 0 0 / 0));
  }
}
.overlayTop {
  height: var(--bg-size-t);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
      rgb(255 255 255 / 0.75),
      rgb(255 255 255 / 1)
    );
  }
  &.dark::after {
    background-image: linear-gradient(rgb(0 0 0 / 0.5), rgb(0 0 0 / 1));
  }
}
